<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <title>::.. SISTEMA ACADEMICO ..::</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/img/logo.png" height="50" />
            </a>
            <div class="collapse navbar-collapse" id="navbarNaAltMarkup">
                <div class="navbar-nav" id="mnxAcademica">
                    <a class="nav-link" href="#" data-form="alumno">Alumnos</a>
                    <a class="nav-link" href="#" data-form="docente">Docentes</a>
                    <a class="nav-link" href="#" data-form="materia">Materias</a>
                    <a class="nav-link" href="#" data-form="matricula">Matricula</a>
                    <a class="nav-link" href="#" data-form="periodo">Periodos</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="position-absolute" id="alumno"></div>
        <div class="position-absolute" id="busqueda_alumno"></div>

        <div class="position-absolute" id="docente"></div>
        <div class="position-absolute" id="busqueda_docente"></div>

        <div class="position-absolute" id="materia"></div>
        <div class="position-absolute" id="busqueda_materia"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", e => {
            const menu = document.getElementById('mnxAcademica');

            menu.addEventListener("click", event => {
                if (event.target.tagName === 'A' && event.target.dataset.form) {
                    event.preventDefault();
                    abrirVentana(event.target.dataset.form);
                }
            });

            $(document).on('click', '.btn-lose', function (e) {
                let formId = $(this).data('form');
                $(`#${formId}`).hide();
            });
        });

        function abrirVentana(form) {
            let $ventana = $(`#${form}`);

            if ($ventana.find(`form`).length > 0) {
                $ventana.show();
            } else {
                let url = `/views/${form}.html`;
                fetch(url)
                    .then(resp => {
                        if (resp.ok) return resp.text();
                        else throw new Error("Error al cargar vista");
                    })
                    .then(vista => {
                        $ventana.html(vista).draggable();
                    })
                    .catch(err => console.error(err));
            }
        }
    </script>
</body>
</html>